.card_box img{
    width:100px;
    height:auto
}
.card_box{
    display: flex;
    width:100px;
    height:150px;
    justify-content: center;
    align-items: center;
}

.selected_card{
    width:100px;
    height:auto;

    border: 3px solid green;
}